body {
  font-family: 'Be Vietnam Pro', sans-serif;
}

.splash {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(65,65,65);
  background: radial-gradient(circle, rgb(56,56,56) 0%, rgba(45,45,45,1) 39%, rgba(20,20,20,1) 100%);
  color: #ffffff;
  justify-content: center;

  .content {
    flex: 1 0 auto;
  }

  .footer {
    flex-shrink: 0;
  }

  h1 {
    text-shadow: 2px 2px black;
  }
}

.hero-bg {
  background: rgb(47,60,50);
  background: linear-gradient(90deg, rgba(47,60,50,1) 0%, rgba(33,56,29,1) 100%);
  padding: 3rem;
  color: white;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    height: 150%;
    opacity: 0.2;
    top: -20px;
    transform: rotate(-0.1turn);
  }
}
