$incorrect-bg: #4c4c4c;
$wrong-spot-bg: #a28822;
$correct-bg: #4a9a51;
$keyboard-unused: #949494;

.game {
  background-color: #222222;
  color: #ffffff;
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
}

.game-grid {
  .cell {
    display: inline-flex;
    width: 62px;
    height: 62px;
    border: 1px solid #646464;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: #fafafa;

    &.wrong-spot {
      background-color: $wrong-spot-bg;
    }

    &.correct {
      background-color: $correct-bg;
    }

    &.incorrect {
      background-color: $incorrect-bg;
    }
  }

  .scoreboard {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-380px);

    .cell {
      width: 32px;
      height: 32px;
      font-size: 1.5rem;
    }
  }

  .countdown {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%) translateX(30px);
    padding: 20px;
    border: 1px solid #646464;
    width: 200px;
    font-size: 1.2rem;

    .time-left {
      font-size: 2.5rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .game-grid {
    .cell {
      width: 50px;
      height: 50px;
    }
  }
}

.previous-words {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(100%) translateX(30px);

  .previous-word {
    font-size: 1.1rem;
  }
}

.player-card {
  display: flex;
  width: 350px;
  border: 1px solid #646464;
  align-items: stretch;

  .score {
    font-size: 2.5rem;
    padding: 0 20px;
    border-right: 1px solid #646464;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 81px;
  }

  .player-info {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
  }
}

.game-results {
  .player-card {
    .player-info {
      padding: 20px;
      font-size: 2rem;
    }
  }
}

.start-button {
  font-size: 1.4rem;
  letter-spacing: 2px;
}

.head-shake {
  animation: headshake 1s;
}

@keyframes headshake {
  0% {
    transform: translateX(0);
  }
  7% {
    transform: translateX(-6px) rotateY(-9deg);
  }
  19% {
    transform: translateX(5px) rotateY(7deg);
  }
  32% {
    transform: translateX(-3px) rotateY(-5deg);
  }
  44% {
    transform: translateX(2px) rotateY(3deg);
  }
  50% {
    transform: translateX(0);
  }
}

.simple-keyboard.hg-theme-default.word-race {
  width: 500px;
  max-width: 100%;
  color: #ffffff;
  padding: 10px;
  background: none;
  z-index: 3;

  .hg-button {
    background-color: $keyboard-unused;
    text-shadow: 0px 1px #000;
    border-bottom: 0;
    height: 50px;
    font-weight: 600;

    &.hg-activeButton {
      background-color: darken($keyboard-unused, 10%);
    }

    &.hg-incorrect {
      background-color: $incorrect-bg;
    }

    &.hg-correct {
      background-color: $correct-bg;
    }

    &.hg-wrong-spot {
      background-color: $wrong-spot-bg;
    }
  }
}



.fade-enter{
  opacity: 0;
  transform: translateY(-40px);
}
.fade-exit{
  opacity: 1;
  transform: translateY(0);
}
.fade-enter-active{
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active{
  opacity: 0;
  transform: translateY(-40px);
}
.fade-enter-active,
.fade-exit-active{
  transition: opacity 250ms, transform 250ms;
}
