.game {
  background-color: #222222;
  color: #ffffff;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.game-grid {
  .cell {
    display: inline-flex;
    width: 62px;
    height: 62px;
    border: 1px solid #646464;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: #fafafa;

    &.wrong-spot {
      background-color: #a28822;
    }

    &.correct {
      background-color: #4a9a51;
    }

    &.incorrect {
      background-color: #4c4c4c;
    }
  }

  .scoreboard {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-380px);

    .cell {
      width: 32px;
      height: 32px;
      font-size: 1.5rem;
    }
  }

  .countdown {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%) translateX(30px);
    padding: 20px;
    border: 1px solid #646464;
    width: 200px;
    font-size: 1.2rem;

    .time-left {
      font-size: 2.5rem;
    }
  }
}

.player-card {
  display: flex;
  width: 350px;
  border: 1px solid #646464;
  align-items: stretch;

  .score {
    font-size: 2.5rem;
    padding: 0 20px;
    border-right: 1px solid #646464;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 81px;
  }

  .player-info {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
  }
}



.head-shake {
  animation: headshake 1s;
}

@keyframes headshake {
  0% {
    transform: translateX(0);
  }
  7% {
    transform: translateX(-6px) rotateY(-9deg);
  }
  19% {
    transform: translateX(5px) rotateY(7deg);
  }
  32% {
    transform: translateX(-3px) rotateY(-5deg);
  }
  44% {
    transform: translateX(2px) rotateY(3deg);
  }
  50% {
    transform: translateX(0);
  }
}
